html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1 {
  font-size: 100%;
  color: #666;
}

h2 {
  font-size: 100%;
  color: #666;
  font-style: italic;
}

h3 {
  font-size: 100%;
  color: #666;
  font-style: italic;
}

#map {
  background: #eee;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.icon.fa {
  padding-top: 4px;
}

#filter {
  top: 12px;
}

#status {
  top: 56px;
  display: none;
}

#user {
  top: 98px;
  display: none;
}

#menu-button {
  display: none;
  left: 12px;
  top: 12px;
  padding-top: 6px;
  padding-bottom: 2px;
}

#menu {
  position: absolute;
  padding: 12px;
  top: 64px;
  width: 340px;
  max-width: 80%;
  min-height: 340px;
  max-height: 70%;
  left: -374px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  background-color: white;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  transition: all .3s ease-out;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 0px 6px #00000050;
}

.menu-open {
  left: 0 !important;
}

.menu-item {
  padding-top: 6px;
  cursor: pointer;
}

#plan-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 100%;
  background-color: white;
}

.plan-container-sliding {
  transition: all 0.3s ease-out;
}

.plan-container-open {
  left: 0 !important;
  border-left: 1px solid #ccc;
  box-shadow: 0px 0px 6px #00000050;
}

#plan {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

#close-button {
  position: absolute;
  cursor: pointer;
  font-size: 24px;
  top: 12px;
  right: 12px;
}

.control {
  position: absolute;
  right: 12px;
  font-size: 18px;
  vertical-align: middle;
  text-align: center;
  width: 24px;
  height: 24px;
  max-width: 24px;
  max-height: 24px;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #ccc;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 5px;
  padding-bottom: 3px;
  filter: grayscale(100%);
  cursor: pointer;
}

.control > span, .control > i {
  opacity: 0.3;
}

.control.active > span, .control.active > i {
  opacity: 1;
}

.hidden {
  display: none !important;
}

.active {
  color: black;
  border-color: #333;
}

#main-container {
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  right: 0;
}

#detail-container {
  position: absolute;
  bottom: 0;
  width: 767px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  background-color: white;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  transition: all .3s ease-out;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-shadow: 0px 0px 6px #00000050;
}


.hide-detail-container {
  height: 0px;
  border: 0;
  box-shadow: 0;
}

.show-detail-container {
  height: 320px;
}

.expand-detail-container {
  height: 520px;
}

#detail {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  padding-top: 6px;
}

#up-icon {
  font-size: 90%;
  opacity: 0.7;
  rotate: -45deg;
}

#down-icon {
  font-size: 90%;
  opacity: 0.7;
  rotate: 45deg;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 110%;
  font-weight: bold;
}

#track-name {
  position: absolute;
  left: 0;
  right: 0;
  margin-right: 72px;
  height: 20px;
  padding-top: 6px;
  padding-left: 10px;
}

.title a {
  text-decoration: none;
}

#toolbar {
  font-size: 120%;
  text-align: right;
  white-space: nowrap;
  width: 84px;
  position: absolute;
  right: 6px;
  left: auto;
  padding-top: 6px;
}

.button {
  z-index: 1;
  opacity: 0.4;
  padding-left: 2px;
  padding-right: 6px;
  padding-bottom: 10px;;
  cursor: pointer;
}

.active-button {
  opacity: 0.6;
}

#images-button {
  display: none;
}

#track-data {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  top: 38px;
}

#profile-container {
  position: absolute;
  right: 0;
  left: 0;
  height: 280px;
  padding-left: 10px;
  padding-right: 88px;
}

#notes-container {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  top: 38px;
  height: 280px;
}

#notes {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  padding-left: 12px;
  padding-right: 12px;
  user-select: text;
}

.text li {
  filter: grayscale(70%);
}

.sub-toolbar {
  font-size: 120%;
  position: absolute;
  top: 0;
  left: auto;
  right: 6px;
  text-align: center;
  width: 24px;
  padding-top: 6px;
}

#image-viewer {
  right: 0;
  left: 0;
}

.image-viewer-normal {
  position: absolute;
  height: 200px;
  top: 320px;
}

.image-viewer-big {
  background-color: white;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all .3s ease-out;
}

#images-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 10px;
}

#images {
  height: 100%;
  text-wrap: nowrap;
  padding-top: 8px;
  margin-left: 16px;
  margin-right: 16px;
  float: left;
}

.filler {
  float: left;
}

.image {
  height: 100%;
  padding-left: 6px;
  padding-right: 6px;
}

#left-gradient {
  position: absolute;
  left: 0;
  width: 24px;
  top: 0;
  bottom: 0;
  background: linear-gradient(to right, rgba(255, 255, 255), rgba(255, 255, 255),rgb(255, 255, 255, 0));
}

#right-gradient {
  position: absolute;
  right: 0;
  width: 24px;
  top: 0;
  bottom: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0),rgba(255, 255, 255), rgb(255, 255, 255));
}

a:link, a:visited, a:hover, a:active {
  color: black;
}

#info {
  position: absolute;
  padding: 6px;
  right: 10px;
  left: auto;
  user-select: text;
}

.white-mask {
  z-index: 10;
  background-color: #ffffffc0;
  box-shadow: white 0 0 10px;
}

.info-line {
  line-height: 18px;
  height: 20px;
}

.right {
  text-align: right;
  padding-right: 6px;
}

#time {
  font-weight: bold;
}

#plan ul {
  list-style-type: none;
  padding-inline-start: 10px;
}

.start-time {
  display: inline-block;
  width: 36pt;
}

.duration, .start-time {
  color: gray;
}

@media only screen and (max-width: 767px) {

  #detail-container {
    width: 100%;
    border-left: 0px;
    border-right: 0px;
    left: 0;
    transform: none;
  }

  #profile-container {
    height: 180px;
    padding-left: 6px;
    padding-right: 4px;
  }

  .show-detail-container {
    height: 220px;
  }

  .expand-detail-container {
    height: 420px;
  }

  #notes-container {
    height: 180px;
  }

  .image-viewer-normal {
    position: absolute;
    height: 200px;
    top: 220px;
  }

  #track-name {
    font-size: 100%;
  }

  #info {
    font-size: 14px;
    width: 70px;
  }
}