html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#detail {
  display: none;
  position: absolute;
  background-color: white;
  border-top: 1px solid #ccc;
  bottom: 0;
  width: 100%;
  height: 250px;
  padding-top: 6px;
}

#trackName {
  font-size: 100%;
  font-weight: normal;
  padding: 10px 6px;
}

#profile-container {
  height: 180px;
}

#profile {
}

#info {
  background-color: #ffffff80;
  width: 70px;
  padding: 4px;
  position: fixed;
  right: 0;
  left: auto;
}

.info-line {
  line-height: 18px;
  height: 20px;
}

#time {
  font-weight: bold;
}