html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#detail {
  display: none;
  position: absolute;
  background-color: white;
  border-top: 1px solid #ccc;
  bottom: 0;
  width: 100%;
  height: 220px;
  padding-top: 6px;
}

#trackName {
  position: fixed;
  left: 0;
  right: 0;
  margin-right: 38px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
  font-size: 110%;
  font-weight: bold;
  padding: 10px 6px;
}

#toolbar {
  width: 32px;
  position: fixed;
  right: 0;
  left: auto;
  padding: 10px 6px;
}

#profile-container {
  margin-top: 36px;
  height: 180px;
}

a:link, a:visited, a:hover, a:active {
  color: black;
}

#info {
  background-color: #ffffff90;
  box-shadow: white 0 0 10px;
  width: 70px;
  padding: 4px;
  position: fixed;
  margin-top: 44px;
  right: 0;
  left: auto;
}

.info-line {
  line-height: 18px;
  height: 20px;
}

#time {
  font-weight: bold;
}

.fa {
  opacity: 0.4;
}

@media only screen and (max-width: 767px) {

  #trackName {
    font-size: 100%;

  }

  #info {
    font-size: 14px;
  }

}